#database configurations
POSTGRES_DB=macromeals
POSTGRES_USER=admin
POSTGRES_PASSWORD=
DB_PORT=5432

#frontend configurations
SERVER_URL=http://backend:8000
APP_SECRET=
NODE_ENV=dev

#apis
#follow the instructions at https://fdc.nal.usda.gov/api-guide to get an api key
USDA_API_KEY=


